.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
}

.title_contact {
    display: flex;
    justify-content: center;
    margin: 10px 0 0px 0;
    padding: 0;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
    margin-bottom: 25px;
    width: 280px;
    position: relative;
  }
  
  .label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
  }
  .text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
  }
  
  .label::before {
    content: "";
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
  }
  
  .text-input:focus {
    border: 2px solid #7AFFEF;
  }
  
  .text-input:focus + .label,
  .filled {
    top: -10px;
    color: #7AFFEF;
    font-size: 14px;
  }
  
  .text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  .text-input:focus::placeholder {
    opacity: 1;
  }

  .rating {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    }
    
    .rating > input{
     display:none;
    }
    
    .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 5vw;
    color: #7AFFEF;
    cursor: pointer;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }

    .rating:hover > input:checked ~ label:before{ 
    opacity: 0.4;
     }

     .sub{
      font-family: 'Ubuntu', sans-serif;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 170px;
      height: 40px;
      line-height: 1;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      border: 3px solid #7AFFEF;
      background: #272530;
      color: #fff;
      border-radius: 40px;
      cursor: pointer;
      overflow: hidden;
      transition: all .35s;
    }

    .sub:hover{
      background: #c485ff;
      color: #fff;
    }

    .sub span{
      opacity: 1;
      visibility: visible;
      transition: all .35s;
    }

    .success{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 50%;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all .35s;
    }

    .success svg{
      width: 20px;
      height: 20px;
      fill: #7AFFEF;
      transform-origin: 50% 50%;
      transform: translateY(-50%) rotate(0deg) scale(0);
      transition: all .35s;
    }

    .sub.is_active{
      pointer-events: none;
      width: 40px;
      height: 40px;
      margin-right: 130px;
    }

    .sub.is_active .success{
      opacity: 1;
      visibility: visible;
    }

    .sub.is_active .success svg{
      margin-top: 50%;
      transform: translateY(-50%) rotate(720deg) scale(1);
    }

    .sub.is_active span{
      opacity: 0;
      visibility: hidden;
    }